.sidebar {
    min-width: 30vh;
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.sidebar .new-chat {
    min-width: 30vh;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.sidebar .recent-entry {
    margin-right: auto;
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    cursor: pointer;
}

.sidebar .recent-entry:hover {
    background-color: #e2e6eb;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    cursor: pointer;
}